/* directo */
/* // TIP: CSS by tag  */
p {
   color: darkcyan;
   font-size: 25px;
}

/* // TIP: CSS via class */
.parrafo_c1 {
   color: darkgreen;
   font-size: 24px;
}

/* // TIP: CSS via id */
#parrafo_i1 {
   color: darkorange;
   font-size: 18;
}
