.parent {
   border: 4px black dotted;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}
.box {
   /* display: inline; */
   background-color: blue;
   width: 100px;
   height: 100px;
   transition: all 1s;
   /* align-self: center; */
   text-align: center;
   /* align-content: center; */
   /* place-self: center center; */
   background-image: url(../../../imgs1/carpeta.svg);
   background-size: 3rem 3rem;
   background-repeat: no-repeat;
   padding-left: 60px;
}

#two:hover {
   background-color: aquamarine;
   transition: all 1s;
   user-select: none;
   cursor: pointer;
}

#three {
   background-color: yellowgreen;
   background: linear-gradient(to bottom, magenta 0%, blue 100%);
}
