$color-01: #ff0000;
$color-02: #00ff00;
$color-03: #0000ff;
$size-01: 1rem;
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  border: $color-01 solid 1px;
}
html {
  font-size: 62.5%;
  font-size: $size-01;
}

/* TIP: Anidamiento
* Permite crear declaracione dentro de otras declaraciones que crean selectores
*/
/* BUG: NO se deberia crear malas practicas a partir de anidameinto*/
ul {
  margin: 0;
  li {
    margin: 0;
    div {
      display: flex;
    }
  }
}

/* TIP: el anidamiento con mediaquerys compila por fuera*/
ul {
  margin: 0;
  display: block;
  @media screen and (min-width: 640px) {
    display: flex;
  }
}

/* TIP: :Hover ::before */
.menu {
  margin: 0;
  &:hover {
    color: $color-01;
  }
  &::before {
    color: $color-03;
  }
}

/* TIP: creacion de clases*/
.menu {
  display: block;
  &-item {
    color: $color-02;
  }
}
