  $col-01:#FF0000;
  $col-02:#00FF00;
  $col-03: #0000FF;
  $font-size1 : 2rem;
  $font-size2 : 3rem;


* { padding: 0;
  box-sizing: border-box;
  margin: 0;
  border: var(--col-01) solid 1px;}

html {font-size: 62.5%;
font-size: $font-size1;}

$color1 : pink;
h1 {
  background: yellow;
  color: $col-01;
}

h2{
  color: $col-03;
  font-size: $font-size1;
}

p{
  color: $col-01;
}
